@font-face {
    font-family: 'Apercu';
    src: url('../fonts/apercu.eot');
    src: url('../fonts/apercu.eot') format('embedded-opentype'),
         url('../fonts/apercu.woff2') format('woff2'),
         url('../fonts/apercu.woff') format('woff'),
         url('../fonts/apercu.ttf') format('truetype'),
         url('../fonts/apercu.svg#apercu') format('svg');
}

@font-face {
    font-family: 'Apercu Bold';
    src: url('../fonts/Apercu-Bold.eot');
    src: url('../fonts/Apercu-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Apercu-Bold.woff2') format('woff2'),
        url('../fonts/Apercu-Bold.woff') format('woff'),
        url('../fonts/Apercu-Bold.ttf') format('truetype'),
        url('../fonts/Apercu-Bold.svg#Apercu-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Circular';
    src: url('../fonts/circular.otf');
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    transition: all 1s cubic-bezier(.165,.84,.44,1);
    transform-style: flat;
    -webkit-transform-style: flat;
}
a,
a:active,
a:focus,
a:hover {
    text-decoration: none;
    color: inherit;
}
html {
    transition: all 1s cubic-bezier(.165,.84,.44,1);
}
body {
    height: inherit;
    font-family: 'Circular',Arial,Helvetica,sans-serif;
    letter-spacing: 1px;
    overflow: hidden;
    background: transparent;
    cursor: crosshair;
}

.__loader_wrap{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: table;
    background: #fff;
    color: #000;
}

.__loader_content{
    position: fixed;
    margin: auto;
    width: 80%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    letter-spacing: 5px;
    font-size: 16px;
}

.__loader_content:after,
.__loader_content:before{
    content: '';
    height: 10px;
    position: absolute;
    width: 100%;
    top: 60px;
    bottom: 0;
    left: 0;
}

.__loader_content:after{
    animation: load 5500ms linear;
    background: #000;
}

.__loader_content:before{
    z-index: -1;
    background: #999; 
}

@keyframes load {
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}

/* BUTTON */
.bt-menu {
    position: fixed;
    z-index: 9999;      
    bottom: 20px;
    right: 20px;
    display: block;
    width: 3.125em;
    height: 2.8125em;
    cursor: pointer;
    border-radius: 2px;
}

.bar1,
.bar2,
.bar3 {
    content: '';
    width: 35px;
    height: 5px;
    background-color: #2e2e2e;
    margin: 7px;
    transition: all 500ms cubic-bezier(.165,.84,.44,1) !important;
}

.bt-menu:hover .bar1,
.bt-menu:hover .bar2,
.bt-menu:hover .bar3{
    background-color: #fff;
}

.change .bar1 {
    width: 9px;
}
.change .bar2 {
    width: 18px;
}
.change .bar3 {
    width: 27px;
}

.slider,
.more-info,
.container,
.work-section,
.opacer{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: #000000;
    background-color: transparent;
}

.__opacer{
    z-index: 8;
    background: transparent;
    height: 100vh;
    display: none;
}

.container{
    z-index: 2;
    transform-origin: right;
    perspective: 1000px;
    transform: scale(1);
    background-color: #111;
    color: #303030;
}

.slider {
    display: flex-wrap;
    left: 0;
    z-index: 10;
    width: 250px;
    transform: translate3d(-100%,0,0);
    background: #ffffff;
    color: #000;
}

.hero{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: table;
}

.work-section{
    display: flex-wrap;
    z-index: 2;
    transform: translate3d(0,100%,0);
    background: linear-gradient(to bottom, #a044ff, #6a3093);
}

.title,
.description{
    display: table-cell;
    vertical-align: middle;
}
.title{
    position: absolute;
    padding: 50px;
    font-size: 12em;
    font-weight: 900;
    font-family: 'Circular';
}
/*.underline:after{
    content: '';
    position: absolute;
    width: 220px;
    height: 10px;
    background: #6a3093;
    background: -webkit-linear-gradient(to right, #a044ff, #6a3093);
    background: linear-gradient(to right, #a044ff, #6a3093);
    top: auto;
    left: 50px;
    right: 0;
    bottom: 20px;
    transition: width 0.5s ease;
}*/
.marker-top:hover .underline:after{
    width: 275px;
}
.description {
    text-align: center;
    padding: 0 100px;
    font-size: 72px;
    line-height: 1.3em;
}
.code{
    padding: 5px 10px;
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    transition: all 1s cubic-bezier(.165,.84,.44,1) !important;
}
.button{    
    position: absolute;
    z-index: 9999;
    bottom: 25px;
    display: block;
    width: 120px;
}

.__button_info{
    left: 20px;
}

.__button_work{
    left: 140px;
}

.nav{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.more-info{
    overflow-x: hidden;
    overflow-y: auto; 
    z-index: 2;
    top:0;
    left: 0;
    transform: scale(0); 
    transform-origin:center; 
    background-color: #111;
    color: #fff;
}

.marker-top,
.marker-bottom{
    z-index: 3;
    height: 50%;
    background: transparent;
}

.marker-top{ 
    transform: translate3d(0,-100%,0);
    transform-origin: top;
}

.marker-bottom{
    transform: translate3d(0,100%,0);
    transform-origin: bottom;
}

.info-container{
    font-size: 16px;
    line-height: 1.8em;
    letter-spacing: 1px;
    margin: 100px 80px 80px 80px;
    perspective: 3000px;

}

.introduction{
    transform-origin: right; 
    width: 80%;
    height: auto;
}

.introduction span{
    text-decoration: underline;
}

.list{
    margin: 20px 0;
    list-style-type: none;
}
.nav-list{
    position: absolute;
    width: 100%;
    top: 20px;
    overflow: hidden;
}
.nav-element{
    display: block;
    margin: 0 20px;
    height: 50px;
    line-height: 50px;
    letter-spacing: 1px;
    font-size: 10px;
    transition: all 50ms cubic-bezier(.165,.84,.44,1);
}
.nav-element span{
    padding-left: 10px;
    padding-right: 10px;
}
.nav-element code{
    display: none;
    float: right;
    padding-right: 20px;
    color: #000;
    font-size: 1.5em; 
    transition: all 50ms cubic-bezier(.165,.84,.44,1);
}
/*.nav-list a:before{
    content: '';
    background-color: #ffffff;
    width: 220px;
    position: absolute;
    z-index: -1;
    height: 50px;
    transition: transform 500ms ease;
    transform: rotateY(90deg);
    transform-origin: left; 
}
.nav-element:hover:before{
    transform: rotateY(0);
    background-color: #000;
}
*/

.nav-element:hover{
    background-color: #000;
    color: #fff;
}
.nav-element:hover.nav-element code{
    display: inline;
    color: #fff;
}

.icon{
    margin-top: 20px;
}

.__mark_{
    padding: 0 10px;
    width: 200px;
    cursor: crosshair;
}

.__mark_:hover{
    animation: color_transition 200ms linear infinite;
}

.__mark_lt{
    text-decoration: none !important;
    font-size: 24px;
}

.__button_more{
    margin-top: 20px;
    cursor: pointer;
    padding: 10px;
    background-color: #fff;
    color: #000;
    text-align: center;
    width: 300px;
}

.__long_intro{
    display: none;
}


@keyframes color_transition{
    0%{
        background-color: #fff;
        color: #000;
    }
    25%{
        background-color: #f00;
        color: #fff;
    }
    50%{
        background-color: #0f0;
        color: #000;
    }
    75%{
        background-color: #00f;
        color: #fff;
    }
    100%{
        background-color: #fff;
        color: #000;
    }
}

@media all and (max-width: 960px){
    .title{
        font-size: 72px;
    }
    .description{
        font-size: 20px
    }
    .info-container{
        font-size: 14px;
        letter-spacing: 1px;
        margin: 25px;
        margin-bottom: 80px;
    }
}


@media all and (max-width: 768px){
  .title{
    font-size: 48px;
    line-height: 1.225em;
  }
  .nav-element{
    height: 32px;
    line-height: 32px;
  }
  .nav-element:before{
    height: 32px !important;
  }
  .introduction{
    width: 100%;
  }
  .description{
    font-size: 16px;
    letter-spacing: 5px;
  }
  .nav-element code{
    display: inline;
    font-size: 1em;
  }
}

@media all and (max-width: 480px){
    .title{
        font-size: 40px;
    }
    .__loader_content{
        width: 90% !important;
        font-size: 12px;
        letter-spacing: 2px;
    }
}
